.widget-container {
    float: left;
    width: 300px;
    padding: 20px;
    text-align: center;
    color: white;
    background-color: $mainColorFontColor;
    border-radius: 20px;
    margin: 20px;
}